* {
margin: 0;
padding:0;
box-sizing: border-box;
}

/* width 
::-webkit-scrollbar {
  width: 15px;
}

Track
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px pink; 
  border-radius: 20px;
}
 
Handle
::-webkit-scrollbar-thumb {
  background: lightblue; 
  border-radius: 40px;
}

Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: green; 
}
*/

header {
  padding: 5px 0;
  width: 100%;
  margin: 0;
  background: #034f84;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 5px yellow;
  font-family: Papyrus;
  font-weight: bold;
  font-size: 36px;
}

header img {
  vertical-align: middle;
  padding: 1px;
}


main {
  width: 100%;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  background-color: #333;
  padding: 5px;
}

div.conteudo {
  background-color: #6495ED;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.copyright img {
  vertical-align: middle;
}

.nossotime{
  background-color: #F0E68C;
  text-align: center;
  vertical-align: middle;
  font-family: Papyrus;
  font-weight: bold;
}

.nossotime img {
  vertical-align: middle;
  padding: 5px;
  mix-blend-mode: multiply;
}

footer {
  text-align: center;
}

.quadro {
  word-wrap: break-word;
  word-break: break-word;
}